<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <span class=" input-group-text "  id="inputGroup-sizing-default" style="margin-top: 2%;margin-left: 25%;width: 50% ;justify-content: center;font-weight:bolder" >DATOS DE LA PERSONA EN SITUACION DE MOVILIDAD HUMANA </span>
  </div>
</nav>
<button type="button" class="btn btn-warning" style="margin-top: 2%;margin-left: 85%" data-bs-toggle="modal" data-bs-target="#exampleModal">BUSCAR </button><br>
<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 25%"> NOMBRE</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 25%"  readonly>
  </div>
  <div class="col" >
    <label style="font-weight:bolder; margin-left: 2%">EDAD</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 2%"  readonly>
  </div>

</div><br>

<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 25%">SEXO</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 25%"  readonly>
  </div>
  <div class="col" >
    <label style="font-weight:bolder; margin-left: 2%">NACIONALIDAD</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 1%" readonly>
  </div>
</div><br>
<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 25%"> DOCUMENTO DE IDENTIFICACION</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 25%" readonly>
  </div>
  <div class="col" >
    <label style="font-weight:bolder; margin-left: 2%">NUMERO TELEFONICO DE CONTACTO</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 2%" readonly>
  </div>

</div><br>
<div class="row">
  <div class="col" >
    <label style="font-weight:bolder; margin-left: 12%">CORREO ELECTRONICO</label>
    <input type="text" class="form-control" style="width:30%;margin-left: 12%" readonly>
  </div>
</div><br>


<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 25%">ENFERMEDAD CATASTROFICA</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 25%"  readonly>

    <div >
      <label   style="font-weight:bolder; margin-left:30%">Tipo</label>
      <input type="text" class="form-control" style="width:55%;margin-left:30%" readonly>
    </div><br>
  </div>

  <div class="col">
    <label style="font-weight:bolder; margin-left: 2%">DISCAPACIDAD</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 2%"  readonly>
    <div >
      <label   style="font-weight:bolder; margin-left: 5%">Tipo</label>
      <input type="text" class="form-control" style="width:55%;margin-left:5%" readonly >
    </div><br>
  </div>

</div><br>
<div class="container-fluid">
  <span class=" input-group-text "  style="margin-top: 2%;margin-left: 25%;width: 50% ;justify-content: center;font-weight:bolder" >DATOS DE REMISION DEL CASO </span>
</div> <br>

<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 25%">INSTITUCION  A LA QUE SE REMITE </label>
    <input type="text" class="form-control" style="width:60%;margin-left: 25%">
  </div>
  <div class="col" >
    <label style="font-weight:bolder; margin-left: 2%">CORREO</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 2%">
  </div>

</div><br>
<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 25%">NOMBRES Y APELLIDOS DEL FUNIONARIOQUE RECIBE</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 25%">
  </div>
  <div class="col" >
    <label style="font-weight:bolder; margin-left: 2%">TELEFONO</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 2%">
  </div>

</div><br>
<form>
<div class="form-group">
  <label style="font-weight:bolder; margin-left: 12%">RESUMEN DE LA SITUACION DE LA PERSONA EN LA SITUACION DERIVADA</label>
  <textarea class="form-control"  rows="3" style="width:70%;margin-left: 12%"></textarea>
</div> <br>

  <div class="form-group">
    <label  style="font-weight:bolder; margin-left: 12%">ACCION SOLICITADA/ACUERDOS</label>
    <textarea class="form-control"  rows="3" style="width:70%;margin-left: 12%"></textarea>
  </div>
</form><br>

<div class="container-fluid">
  <span class=" input-group-text "   style="margin-top: 2%;margin-left: 25%;width: 50% ;justify-content: center;font-weight:bolder" >DATOS DE REMISION DEL CASO </span>
</div> <br>


<div class="row">
    <label style="font-weight:bolder; margin-left: 12%">NOMBRES Y APELLIDOS</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 12%">
  </div> <br>
<div class="row">
  <label style="font-weight:bolder; margin-left: 12%">CORREO ELECTRONICO</label>
  <input type="text" class="form-control" style="width:60%;margin-left: 12%">
</div> <br>
<div class="row">
  <label style="font-weight:bolder; margin-left: 12%">TELEFONO CONVENCIONAL Y/O CELULAR</label>
  <input type="text" class="form-control" style="width:60%;margin-left: 12%">
</div> <br>

<div class="row">
  <label style="font-weight:bolder; margin-left: 12%">FECHA DE REGISTRO</label>
      <input type="date" class="form-control" id="staticEmail"  style="width:30%;margin-left: 12%">
</div> <br>

<div class="container-fluid">
  <span class=" input-group-text "   style="margin-top: 2%;margin-left: 25%;width: 50% ;justify-content: center;font-weight:bolder" >OBSERVACIONES/DIFICULTADES</span>
</div> <br>
<form>
<div class="form-group">
  <textarea class="form-control"  rows="3" style="width:70%;margin-left: 12%"></textarea>
</div>
</form><br><br>

<div class="row">
  <div class="col">
  <input type="text" class="form-control" style="width:60%;margin-left: 25%;height:90px"  readonly > <br>

  <label style="font-weight:bolder; margin-left: 25%" >NOMBRE, FIRMA Y SELLO DE QUIEN REMITE <button type="button" class="btn btn-outline-secondary"  data-bs-toggle="modal" data-bs-target="#Modal">BUSCAR </button></label>
    </div>
      <div class="col">
  <input type="text" class="form-control" style="width:60%;margin-left: 10%;height:90px"  readonly>
  <label style="font-weight:bolder; margin-left: 10%">NOMBRE, FIRMA Y SELLO DE QUIEN RECIBE</label>
  </div>
</div> <br>

<div>
  <button type="button" class="btn btn-warning" style="margin-top: 2%;margin-left: 35%">DESCARGAR </button>

</div>
<div>
  <button type="button" class="btn btn-warning" style="margin-top: -5%;margin-left: 50%">REGISTAR </button>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="exampleModalLabel" style="margin-left: 25%">BUSCAR BENEFICIARIO</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="col">
          <label style="font-weight:bolder; margin-left: 1%">   Cl/PASAPORTE</label>
          <input type="text" class="form-control" style="width:60%;margin-left: 1%"  placeholder="Ingrese un Cl o pasaporte" >
        </div>


        <div class="col" >
          <label style="font-weight:bolder; margin-left: 2%">NOMBRES</label>
          <input type="text" class="form-control" style="width:60%;margin-left: 1%"  placeholder="Ingrese un nombre">
        </div>
      </div>
      <div>
        <button type="button" class="btn btn-warning" style="margin-top:-30%;margin-left:75%" >BUSCAR </button> </div>

      <div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">N° Identificacion</th>
            <th scope="col">Nombre Representante</th>
            <th scope="col">Accion</th>

          </tr>
          </thead>
          <tbody>
          <tr>

            <td>00000000000</td>
            <td>Otto</td>
            <td><button  class="btn btn-success">Agregar</button></td>

          </tr>
          <tr>

            <td>00000000000</td>
            <td>Thornton</td>
            <td><button  class="btn btn-success">Agregar</button></td>

          </tr>

          </tbody>

        </table>
      </div>

      <div class="modal-footer">
        <button type="button"  class="btn btn-danger"
                data-bs-dismiss="modal">ok</button>

      </div>
    </div>
  </div>
</div>

<!-- Modal Responsable --------------------------------------------------------------------------------------->
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="ModalLabel" style="margin-left: 25%">BUSCAR RESPONSABLE</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="col" >
          <label style="font-weight:bolder; margin-left: 2%">NOMBRES</label>
          <input type="text" class="form-control" style="width:60%;margin-left: 1%"  placeholder="Ingrese un nombre">
        </div>
      </div>
      <div>
        <button type="button" class="btn btn-warning" style="margin-top:-17%;margin-left:75%" >BUSCAR </button> </div>

      <div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">NOMBRES</th>
            <th scope="col"> TITULO</th>
            <th scope="col">CARGO</th>

          </tr>
          </thead>
          <tbody>
          <tr>

            <td>ALEXANDER</td>
            <td>PSICOLOGIA</td>
            <td>PSICOLOGO</td>
            <td><button  class="btn btn-success">Agregar</button></td>

          </tr>

          </tbody>

        </table>
      </div>

      <div class="modal-footer">
        <button type="button"  class="btn btn-danger"
                data-bs-dismiss="modal">ok</button>

      </div>
    </div>
  </div>
</div>
