<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <span class=" input-group-text "  id="inputGroup-sizing-default" style="margin-top: 2%;margin-left: 25%;width: 50% ;justify-content: center;font-weight:bolder" >DATOS DE LA PERSONA EN SITUACION DE MOVILIDAD HUMANA </span>
  </div>
</nav>

<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 25%"> NOMBRE</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 25%">
  </div>
  <div class="col" >
    <label style="font-weight:bolder; margin-left: 2%">EDAD</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 2%">
  </div>

</div><br>

<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 25%">SEXO</label>

    <select class="form-select" aria-label="Default select example"
            style="width:60%;margin-left:25%">

      <option value="1">M</option>
      <option value="2">F</option>
      <option value="3">LGTBQ+</option>
    </select>

  </div>
  <div class="col" >
    <label style="font-weight:bolder; margin-left: 2%">NACIONALIDAD</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 1%">
  </div>
</div><br>
<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 25%"> DOCUMENTO DE IDENTIFICACION</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 25%">
  </div>
  <div class="col" >
    <label style="font-weight:bolder; margin-left: 2%">NUMERO TELEFONICO DE CONTACTO</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 2%">
  </div>

</div><br>
<div class="row">
  <div class="col" >
    <label style="font-weight:bolder; margin-left: 12%">CORREO ELECTRONICO</label>
    <input type="text" class="form-control" style="width:30%;margin-left: 12%">
  </div>
</div><br>


<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 25%">ENFERMEDAD CATASTROFICA</label>
    <select class="form-select" aria-label="Default select example"
            style="width:60%;margin-left:25%">
      <option value="1">SI</option>
      <option value="2">NO</option>
    </select>

    <div >
      <label   style="font-weight:bolder; margin-left:30%">Tipo</label>
      <input type="text" class="form-control" style="width:55%;margin-left:30%" >
    </div><br>
  </div>

  <div class="col">
    <label style="font-weight:bolder; margin-left: 2%">DISCAPACIDAD</label>
    <select class="form-select" aria-label="Default select example"
            style="width:60%;margin-left:1%">
      <option value="1">SI</option>
      <option value="2">NO</option>
    </select>
    <div >
      <label   style="font-weight:bolder; margin-left: 5%">Tipo</label>
      <input type="text" class="form-control" style="width:55%;margin-left:5%" >
    </div><br>
  </div>

</div><br>
<div class="container-fluid">
  <span class=" input-group-text "  style="margin-top: 2%;margin-left: 25%;width: 50% ;justify-content: center;font-weight:bolder" >DATOS DE REMISION DEL CASO </span>
</div> <br>

<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 25%">INSTITUCION  A LA QUE SE REMITE </label>
    <input type="text" class="form-control" style="width:60%;margin-left: 25%">
  </div>
  <div class="col" >
    <label style="font-weight:bolder; margin-left: 2%">CORREO</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 2%">
  </div>

</div><br>
<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 25%">NOMBRES Y APELLIDOS DEL FUNIONARIOQUE RECIBE</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 25%">
  </div>
  <div class="col" >
    <label style="font-weight:bolder; margin-left: 2%">TELEFONO</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 2%">
  </div>

</div><br>
<form>
<div class="form-group">
  <label style="font-weight:bolder; margin-left: 12%">RESUMEN DE LA SITUACION DE LA PERSONA EN LA SITUACION DERIVADA</label>
  <textarea class="form-control"  rows="3" style="width:70%;margin-left: 12%"></textarea>
</div> <br>

  <div class="form-group">
    <label  style="font-weight:bolder; margin-left: 12%">ACCION SOLICITADA/ACUERDOS</label>
    <textarea class="form-control"  rows="3" style="width:70%;margin-left: 12%"></textarea>
  </div>
</form><br>

<div class="container-fluid">
  <span class=" input-group-text "   style="margin-top: 2%;margin-left: 25%;width: 50% ;justify-content: center;font-weight:bolder" >DATOS DE REMISION DEL CASO </span>
</div> <br>


<div class="row">
    <label style="font-weight:bolder; margin-left: 12%">NOMBRES Y APELLIDOS</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 12%">
  </div> <br>
<div class="row">
  <label style="font-weight:bolder; margin-left: 12%">CORREO ELECTRONICO</label>
  <input type="text" class="form-control" style="width:60%;margin-left: 12%">
</div> <br>
<div class="row">
  <label style="font-weight:bolder; margin-left: 12%">TELEFONO CONVENCIONAL Y/O CELULAR</label>
  <input type="text" class="form-control" style="width:60%;margin-left: 12%">
</div> <br>

<div class="row">
  <label style="font-weight:bolder; margin-left: 12%">FECHA DE REGISTRO</label>
      <input type="date" class="form-control" id="staticEmail"  style="width:30%;margin-left: 12%">
</div> <br>

<div class="container-fluid">
  <span class=" input-group-text "   style="margin-top: 2%;margin-left: 25%;width: 50% ;justify-content: center;font-weight:bolder" >OBSERVACIONES/DIFICULTADES</span>
</div> <br>
<form>
<div class="form-group">
  <textarea class="form-control"  rows="3" style="width:70%;margin-left: 12%"></textarea>
</div>
</form><br><br>

<div class="row">
  <div class="col">
  <input type="text" class="form-control" style="width:60%;margin-left: 25%;height:90px"  readonly>
  <label style="font-weight:bolder; margin-left: 25%">NOMBRE, FIRMA Y SELLO DE QUIEN REMITE</label>
    </div>
      <div class="col">
  <input type="text" class="form-control" style="width:60%;margin-left: 10%;height:90px"  readonly>
  <label style="font-weight:bolder; margin-left: 10%">NOMBRE, FIRMA Y SELLO DE QUIEN RECIBE</label>
  </div>
</div> <br>

<div>
  <button type="button" class="btn btn-warning" style="margin-top: 2%;margin-left: 35%">DESCARGAR </button>

</div>
<div>
  <button type="button" class="btn btn-warning" style="margin-top: -5%;margin-left: 50%">REGISTAR </button>
</div>
