<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <span class=" input-group-text "  style="margin-top: 2%;margin-left: 25%;width: 50% ;justify-content: center;font-weight:bolder" >1.Informacion de la Organizacion Cooperante </span>
  </div>
</nav>

<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 25%"> NOMBRE</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 25%" readonly >
  </div>
  <div class="col" >
    <label style="font-weight:bolder; margin-left: 2%">CANTON</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 2%" readonly >
  </div>

</div><br>
<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 25%"> ZONA</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 25%" readonly>
  </div>
  <div class="col">
    <label style="font-weight:bolder; margin-left: 2%">PARROQUIA</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 2%" readonly>
  </div>
</div><br>
<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 25%"> DISTRITO</label>
    <input type="text" class="form-control"  style="width:60%;margin-left: 25%" readonly >
  </div>
  <div class="col" >
    <label style="font-weight:bolder; margin-left: 2%">CODIGO</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 2%" readonly>
  </div>
</div><br>

<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 12%"> PROVINCIA</label>
    <input type="text" class="form-control" style="width:30%;margin-left: 12%" readonly>
  </div>

</div><br>


<span class=" input-group-text "  style="margin-top: 2%;margin-left: 25%;width: 50% ;justify-content: center;font-weight:bolder" >2.Tipo de Identificacion</span> <br>

<button type="button" class="btn btn-warning" style="margin-top: 2%;margin-left: 85%" data-bs-toggle="modal" data-bs-target="#exampleModal">BUSCAR </button><br>
<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 25%">   Cl/PASAPORTE NOMBRE</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 25%"  placeholder="Ingrese un Cl o pasaporte" >
  </div>
  <div class="col" >
    <label style="font-weight:bolder; margin-left: 2%">NOMBRES</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 1%"  placeholder="Ingrese un nombre">
  </div>

</div><br>
<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 25%"> APELLIDOS</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 25%" readonly>
  </div>
  <div class="col">
    <label style="font-weight:bolder; margin-left: 2%">TELEFONO</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 2%" readonly>
  </div>
</div><br>
<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 25%"> GENERO</label>
    <input type="text" class="form-control"  style=" width:60%;margin-left: 25%"   readonly>
  </div>
  <div class="col" >
    <label style="font-weight:bolder; margin-left: 2%">ETNIA</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 1%" readonly>
  </div>
</div><br>
<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 25%"> ESTADO CIVIL</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 25%" readonly>
  </div>
  <div class="col">
    <label style="font-weight:bolder; margin-left: 2%">FECHA DE NACIMIENTO</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 2%" readonly>
  </div>
</div><br>
<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 25%"> INSTRUCCION</label>
    <input type="text" class="form-control" style=" ;width:60%;margin-left: 25%" readonly>
  </div>
  <div class="col">
    <label style="font-weight:bolder; margin-left: 2%">NACIONALIDAD</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 2%" readonly>
  </div>
</div><br>
<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 25%"> FECHA DE INGRESO AL PAIS</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 25%" readonly>
  </div>
  <div class="col">
    <label style="font-weight:bolder; margin-left: 2%">EDAD</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 2%" readonly>
  </div>
</div><br>

<span class=" input-group-text "  style="margin-top: 2%;margin-left: 25%;width: 50% ;justify-content: center;font-weight:bolder" >3.Estado del Usuario</span> <br>

<div class="row">
  <div class="col">

    <label style="font-weight:bolder; margin-left: 10%">La persona sigue en el servicio</label>

    <select class="form-select" aria-label="Default select example" style=" margin-left: 10%;width: 30% ;">
      <option value="1">Si</option>
      <option value="2">No</option>
    </select>
  </div>
</div><br>


<div>
<label style="font-weight:bolder; margin-left: 10%">¿Por qué?</label>  <br>
</div> <br>
<div>
<div >
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1"  style="font-weight:bolder; margin-left: 10%">
  <label  for="inlineCheckbox1" style="font-weight:bolder; margin-left: 1%">80% del cumpliemento del PAF</label>

    <input class="form-check-input" type="checkbox" id="inlineCheckbox2"  style="font-weight:bolder; margin-left: 20%">
    <label  for="inlineCheckbox2" style="font-weight:bolder; margin-left: 1%">No desea continuar</label>
  </div> <br>
  <div >
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3"  style="font-weight:bolder; margin-left: 10%">
    <label  for="inlineCheckbox3" style="font-weight:bolder; margin-left: 1%">Cambio del domicilio</label>

    <input class="form-check-input" type="checkbox" id="inlineCheckbox4"  style="font-weight:bolder; margin-left: 25.5%">
    <label  for="inlineCheckbox4" style="font-weight:bolder; margin-left: 1%">60 dias sin contacto</label>
  </div> <br>
  <div >
    <input class="form-check-input" type="checkbox" id="inlineCheckbox5"  style="font-weight:bolder; margin-left: 10%">
    <label  for="inlineCheckbox5" style="font-weight:bolder; margin-left: 1%">Proceso de derivacion</label>

    <input class="form-check-input" type="checkbox" id="inlineCheckbox6"  style="font-weight:bolder; margin-left: 25.2%">
    <label  for="inlineCheckbox6" style="font-weight:bolder; margin-left: 1%">Fin del proyecto(cierre de la unidad de atencion)</label>
  </div> <br>
  <div >
    <input class="form-check-input" type="checkbox" id="inlineCheckbox7"  style="font-weight:bolder; margin-left: 10%">
    <label  for="inlineCheckbox7" style="font-weight:bolder; margin-left: 1%">Salida del pais</label>
  </div> <br>
</div>

<div class="row">
  <div class="col">

    <label style="font-weight:bolder; margin-left: 10%">¿Se realizo informe de cierre?</label>

    <select class="form-select" aria-label="Default select example" style=" margin-left: 10%;width: 30% ;">
      <option value="1">Si</option>
      <option value="2">No</option>
    </select>
  </div>
</div><br>

<span class=" input-group-text "   style="margin-top: 2%;margin-left: 25%;width: 50% ;justify-content: center;font-weight:bolder" >4. ACTIVACION DE SERVICIOS DE ATENCION HUMANITARIA </span> <br>

<div>
  <label style="font-weight:bolder; margin-left: 10%">Se brindo atencion humanitaria   </label>  <br>
</div> <br>
<div>
  <div >
    <input class="form-check-input" type="checkbox" id="inlineCheckbox8"  style="font-weight:bolder; margin-left: 10%">
    <label  for="inlineCheckbox8" style="font-weight:bolder; margin-left: 1%">kits de alimentos</label>

    <input class="form-check-input" type="checkbox" id="inlineCheckbox9"  style="font-weight:bolder; margin-left: 20%">
    <label  for="inlineCheckbox9" style="font-weight:bolder; margin-left: 1%"> kits de aseo personal</label>
  </div> <br>
  <div >
    <input class="form-check-input" type="checkbox" id="inlineCheckbox10"  style="font-weight:bolder; margin-left: 10%">
    <label  for="inlineCheckbox10" style="font-weight:bolder; margin-left: 1%">kits de salud  </label>

    <input class="form-check-input" type="checkbox" id="inlineCheckbox11"  style="font-weight:bolder; margin-left: 22.5%">
    <label  for="inlineCheckbox11" style="font-weight:bolder; margin-left: 1%">kits escolar</label>
  </div> <br>
  <div >
    <input class="form-check-input" type="checkbox" id="inlineCheckbox12"  style="font-weight:bolder; margin-left: 10%">
    <label  for="inlineCheckbox12" style="font-weight:bolder; margin-left: 1%">Otros</label>
  </div> <br>
  <div >
    <label  for="inlineCheckbox6" style="font-weight:bolder; margin-left: 15%">Cual</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 17%" >
  </div><br>

  <div>
    <label style="font-weight:bolder; margin-left: 10%">Se realizo atencion humanitaria con recursos</label>  <br>
  </div> <br>

  <div >
    <input class="form-check-input" type="checkbox" id="inlineCheckbox13"  style="font-weight:bolder; margin-left: 10%">
    <label  for="inlineCheckbox13" style="font-weight:bolder; margin-left: 1%">MIES </label>

    <input class="form-check-input" type="checkbox" id="inlineCheckbox14"  style="font-weight:bolder; margin-left: 22.5%">
    <label  for="inlineCheckbox14" style="font-weight:bolder; margin-left: 1%">Organización contratista</label>
  </div> <br>
  <div >
    <input class="form-check-input" type="checkbox" id="inlineCheckbox15"  style="font-weight:bolder; margin-left: 10%">
    <label  for="inlineCheckbox15" style="font-weight:bolder; margin-left: 1%">Otras ONGS/Organimos internacionales</label>
  </div> <br>
  <div >
    <label  for="inlineCheckbox6" style="font-weight:bolder; margin-left: 15%">Cual</label>
    <input type="text" class="form-control" style="width:60%;margin-left: 17%" >
  </div> <br>

  <div class="row">
    <div class="col">

      <label style="font-weight:bolder; margin-left: 10%">ATENCION EMERGENTE</label>

      <select class="form-select" aria-label="Default select example" style=" margin-left: 10%;width: 30% ;">
        <option value="1">Si</option>
        <option value="2">No</option>
      </select>
    </div>
  </div><br>

  <div>
    <label style="font-weight:bolder; margin-left: 10%">Tipo de atencion emergente</label>  <br>
  </div> <br>

    <div >
      <input class="form-check-input" type="checkbox" id="inlineCheckbox16"  style="font-weight:bolder; margin-left: 10%">
      <label  for="inlineCheckbox16" style="font-weight:bolder; margin-left: 1%">Sistema de salud </label>

      <input class="form-check-input" type="checkbox" id="inlineCheckbox17"  style="font-weight:bolder; margin-left: 20%">
      <label  for="inlineCheckbox17" style="font-weight:bolder; margin-left: 1%"> Sitema de justicia </label>
    </div> <br>
    <div >
      <input class="form-check-input" type="checkbox" id="inlineCheckbox18"  style="font-weight:bolder; margin-left: 10%">
      <label  for="inlineCheckbox18" style="font-weight:bolder; margin-left: 1%">Alojamiento temporal     </label>

      <input class="form-check-input" type="checkbox" id="inlineCheckbox19"  style="font-weight:bolder; margin-left: 17%">
      <label  for="inlineCheckbox19" style="font-weight:bolder; margin-left: 1%">Otra </label>
    </div> <br>

    <div >
      <label  for="inlineCheckbox6" style="font-weight:bolder; margin-left: 15%">Cual</label>
      <input type="text" class="form-control" style="width:60%;margin-left: 17%" >
    </div> <br>


    <span class=" input-group-text "   style="margin-top: 2%;margin-left: 25%;width: 50% ;justify-content: center;font-weight:bolder" >5.Atencion de areas especializadas en servicio de la movilidad humana</span> <br>

    <div >
      <input class="form-check-input" type="checkbox" id="inlineCheckbox20"  style="font-weight:bolder; margin-left: 10%">
      <label  for="inlineCheckbox20" style="font-weight:bolder; margin-left: 1%">Trabajo social</label>

      <input class="form-check-input" type="checkbox" id="inlineCheckbox21"  style="font-weight:bolder; margin-left: 20%">
      <label  for="inlineCheckbox21" style="font-weight:bolder; margin-left: 1%"> Psicologia </label>

      <input class="form-check-input" type="checkbox" id="inlineCheckbox22"  style="font-weight:bolder; margin-left: 25%">
      <label  for="inlineCheckbox22" style="font-weight:bolder; margin-left: 1%">  Legal </label>

    </div> <br>

    <div >
      <label  for="inlineCheckbox23" style="font-weight:bolder; margin-left: 10%">Prevencion y promocion comunitaria</label>
      <input class="form-check-input" type="checkbox" id="inlineCheckbox23"  style="font-weight:bolder; margin-left: 9.2%">
    </div> <br>

    <div >
      <label  for="inlineCheckbox24" style="font-weight:bolder; margin-left: 10%">Taller de capacitacion/medios de vida</label>
      <input class="form-check-input" type="checkbox" id="inlineCheckbox24"  style="font-weight:bolder; margin-left: 9%">
    </div> <br>
    <div >
      <label  for="inlineCheckbox25" style="font-weight:bolder; margin-left: 10%">Taller de sesibilizacion para familias</label>
      <input class="form-check-input" type="checkbox" id="inlineCheckbox25"  style="font-weight:bolder; margin-left: 10%">
    </div> <br>
    <div >
      <label  for="inlineCheckbox26" style="font-weight:bolder; margin-left: 10%">Talleres y espacios ludicos de recreacion NNA</label>
      <input class="form-check-input" type="checkbox" id="inlineCheckbox26"  style="font-weight:bolder; margin-left:4.5%">
    </div> <br>
    <div >
      <label  for="inlineCheckbox27" style="font-weight:bolder; margin-left: 10%">Insercion a redes comunitarias</label>
      <input class="form-check-input" type="checkbox" id="inlineCheckbox27"  style="font-weight:bolder; margin-left:13%">
    </div> <br>
    <div >
      <label  for="inlineCheckbox28" style="font-weight:bolder; margin-left: 10%">Ecuentros comunitarios</label>
      <input class="form-check-input" type="checkbox" id="inlineCheckbox28"  style="font-weight:bolder; margin-left: 17%">
    </div> <br>

    <span class=" input-group-text "  style="margin-top: 2%;margin-left: 25%;width: 50% ;justify-content: center;font-weight:bolder" >6.Activacion de otros servicios publicos o privados/ONGS/Otras organizaciones</span> <br>

      <div>
    <label style="font-weight:bolder; margin-left: 10%">Derivacion a otras instituciones</label>  <br>
  </div> <br>
    <div >
      <input class="form-check-input" type="checkbox" id="inlineCheckbox29"  style="font-weight:bolder; margin-left: 10%">
      <label  for="inlineCheckbox29" style="font-weight:bolder; margin-left: 1%">Salud</label>

      <input class="form-check-input" type="checkbox" id="inlineCheckbox30"  style="font-weight:bolder; margin-left: 13%">
      <label  for="inlineCheckbox30" style="font-weight:bolder; margin-left: 1%"> Educacion </label>

      <input class="form-check-input" type="checkbox" id="inlineCheckbox31"  style="font-weight:bolder; margin-left: 16%">
      <label  for="inlineCheckbox31" style="font-weight:bolder; margin-left: 1%"> Migracion </label>

      <input class="form-check-input" type="checkbox" id="inlineCheckbox32"  style="font-weight:bolder; margin-left: 19%">
      <label  for="inlineCheckbox32" style="font-weight:bolder; margin-left: 1%"> Dinapen </label>

    </div> <br>

    <div >
      <input class="form-check-input" type="checkbox" id="inlineCheckbox33"  style="font-weight:bolder; margin-left: 10%">
      <label  for="inlineCheckbox33" style="font-weight:bolder; margin-left: 1%">
        Secretaria de derechos humanos</label>

      <input class="form-check-input" type="checkbox" id="inlineCheckbox34"  style="font-weight:bolder; margin-left: 3%">
      <label  for="inlineCheckbox34" style="font-weight:bolder; margin-left: 1%"> Junta cantonal de proteccion de derechos </label>

      <input class="form-check-input" type="checkbox" id="inlineCheckbox35"  style="font-weight:bolder; margin-left: 7%">
      <label  for="inlineCheckbox35" style="font-weight:bolder; margin-left: 1%"> Cancilleria  </label>

      <input class="form-check-input" type="checkbox" id="inlineCheckbox36"  style="font-weight:bolder; margin-left: 9%">
      <label  for="inlineCheckbox36" style="font-weight:bolder; margin-left: 1%"> Otros</label>

    </div> <br>

    <div >
      <label  for="inlineCheckbox6" style="font-weight:bolder; margin-left: 15%">Cual</label>
      <input type="text" class="form-control" style="width:60%;margin-left: 17%" >
    </div> <br>

    <div>
      <label style="font-weight:bolder; margin-left: 10%">Derivacion de servicios MIES</label>  <br>
    </div> <br>
      <div >
        <input class="form-check-input" type="checkbox" id="inlineCheckbox37"  style="font-weight:bolder; margin-left: 10%">
        <label  for="inlineCheckbox37" style="font-weight:bolder; margin-left: 1%">CDI </label>

        <input class="form-check-input" type="checkbox" id="inlineCheckbox38"  style="font-weight:bolder; margin-left: 20%">
        <label  for="inlineCheckbox38" style="font-weight:bolder; margin-left: 1%">     Mendicidad Apoyo y custodia familia </label>
      </div> <br>
      <div >
        <input class="form-check-input" type="checkbox" id="inlineCheckbox39"  style="font-weight:bolder; margin-left: 10%">
        <label  for="inlineCheckbox39" style="font-weight:bolder; margin-left: 1%">CLH</label>

        <input class="form-check-input" type="checkbox" id="inlineCheckbox40"  style="font-weight:bolder; margin-left: 19.5%">
        <label  for="inlineCheckbox40" style="font-weight:bolder; margin-left: 1%">  Acogimiento institucional
        </label>
      </div> <br>
      <div >
        <input class="form-check-input" type="checkbox" id="inlineCheckbox41"  style="font-weight:bolder; margin-left: 10%">
        <label  for="inlineCheckbox41" style="font-weight:bolder; margin-left: 1%">Adulto  mayor    </label>

        <input class="form-check-input" type="checkbox" id="inlineCheckbox42"  style="font-weight:bolder; margin-left: 14%">
        <label  for="inlineCheckbox42" style="font-weight:bolder; margin-left: 1%">Discapacidades Servicio ape   </label>
      </div> <br>
      <div >
        <input class="form-check-input" type="checkbox" id="inlineCheckbox43"  style="font-weight:bolder; margin-left: 10%">
        <label  for="inlineCheckbox43" style="font-weight:bolder; margin-left: 1%">Eti</label>
        <input class="form-check-input" type="checkbox" id="inlineCheckbox44"  style="font-weight:bolder; margin-left: 20.5%">
        <label  for="inlineCheckbox44" style="font-weight:bolder; margin-left: 1%">  Otros</label>
      </div> <br>

      <div>
      <button type="button" class="btn btn-warning" style="margin-top: 2%;margin-left: 45%">DESCARGAR </button>

      </div>
      <div>
      <button type="button" class="btn btn-warning" style="margin-top: -5%;margin-left: 60%">REGISTAR </button>
      </div>


      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 id="exampleModalLabel" style="margin-left: 25%">BUSCAR BENEFICIARIO</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <div class="col">
                <label style="font-weight:bolder; margin-left: 1%">   Cl/PASAPORTE</label>
                <input type="text" class="form-control" style="width:60%;margin-left: 1%"  placeholder="Ingrese un Cl o pasaporte" >
              </div>


              <div class="col" >
                <label style="font-weight:bolder; margin-left: 2%">NOMBRES</label>
                <input type="text" class="form-control" style="width:60%;margin-left: 1%"  placeholder="Ingrese un nombre">
              </div>
            </div>
            <div>
              <button type="button" class="btn btn-warning" style="margin-top:-30%;margin-left:75%" >BUSCAR </button> </div>

            <div>
              <table class="table table-striped">
                  <thead>
                  <tr>
                    <th scope="col">N° Identificacion</th>
                    <th scope="col">Nombre Representante</th>
                    <th scope="col">Accion</th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr>

                    <td>00000000000</td>
                    <td>Otto</td>
                    <td><button  class="btn btn-success">Agregar</button></td>

                  </tr>
                  <tr>

                    <td>00000000000</td>
                    <td>Thornton</td>
                    <td><button  class="btn btn-success">Agregar</button></td>

                  </tr>

                  </tbody>

              </table>
            </div>

            <div class="modal-footer">
              <button type="button"  class="btn btn-danger"
                      data-bs-dismiss="modal">ok</button>

            </div>
          </div>
        </div>
      </div>
</div>
