<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <span class=" input-group-text "   style="margin-top: 2%;margin-left: 25%;width: 50% ;justify-content: center;font-weight:bolder" >FICHA DE CIERRE</span>
  </div>
</nav> <br><br>

<div class="row">
  <div class="col">
    <label style="font-weight:bolder; margin-left: 55%"> Nro. de Caso</label>
    <input type="text" class="form-control" style="width:20%;margin-left: 55%" readonly>
  </div>
  <div class="col" >
    <label style="font-weight:bolder; margin-left: 2%">Fecha de Ingreso</label>
    <input type="text" class="form-control" style="width:20%;margin-left: 2%" readonly>
  </div>
</div><br>

<button type="button" class="btn btn-warning" style="margin-top: -10%;margin-left: 75%" data-bs-toggle="modal" data-bs-target="#exampleModal">BUSCAR </button><br>
<div class="container-fluid">
  <span class=" input-group-text "  style="margin-top: 2%;margin-left: 25%;width: 50% ;justify-content: center;font-weight:bolder" >Motivo de Cierre</span>
</div><br>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value=""  style="margin-left:20%">
  <label class="form-check-label" for="flexCheckDefault1" style="margin-left:1%">
    Cumplimiento o en proceso de cumplimiento del PAF en al menos un 80%
  </label>
</div><br>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked62"
         style="margin-left:20%">

  <label class="form-check-label" for="flexCheckChecked62" style="margin-left:1%">
    60 dias sin que se pueda ubicar a la familia
  </label>
</div><br>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault39" style="margin-left:20%">
  <label class="form-check-label" for="flexCheckDefault39" style="margin-left:1%">
    Salida del pais
  </label>
</div><br>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4" checked style="margin-left:20%">
  <label class="form-check-label" for="flexCheckChecked4" style="margin-left:1%">
    Familias que hayan recibido una atencion de 1 año
  </label>
</div><br>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5" style="margin-left:20%">
  <label class="form-check-label" for="flexCheckDefault5" style="margin-left:1%">
    Cambio de Domicilio
  </label>
</div><br>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked6" style="margin-left:20%">
  <label class="form-check-label" for="flexCheckChecked6" style="margin-left:1%">
    Fin del proyecto
  </label>
</div><br>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault8" style="margin-left:20%">
  <label class="form-check-label" for="flexCheckDefault8" style="margin-left:1%">
    Derivacion definitiva del caso
  </label>
</div><br>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked9" style="margin-left:20%">
  <label class="form-check-label" for="flexCheckChecked9" style="margin-left:1%">
    Institucion a la que se derivo
  </label>
</div><br>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault7" style="margin-left:20%">
  <label class="form-check-label" for="flexCheckDefault7" style="margin-left:1%">
    No desea continuar con el proceso de atencion
  </label>
</div><br>

<div class="container-fluid">
  <span class=" input-group-text "  style="margin-top: 2%;margin-left: 25%;width: 50% ;justify-content: center;font-weight:bolder" >Cumplimiento de los objetivos planteados en el PAF</span>
</div><br>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault98" style="margin-left:20%">
  <label class="form-check-label" for="flexCheckDefault98" style="margin-left:1%">
    Nivel Alto
  </label>
</div><br>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked91"
         style="margin-left:20%">
  <label class="form-check-label" for="flexCheckChecked91" style="margin-left:1%">
   Nivel Medio
  </label>
</div><br>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault93" style="margin-left:20%">
  <label class="form-check-label" for="flexCheckDefault93" style="margin-left:1%">
   Nivel Bajo
  </label>
</div><br>

<div class="container-fluid">
  <span class=" input-group-text "   style="margin-top: 2%;margin-left: 25%;width: 50% ;justify-content: center;font-weight:bolder" >Profecionales que intervinieron</span>
</div><br>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" style="margin-left:20%">
  <label class="form-check-label" for="flexCheckDefault1" style="margin-left:1%">
    Psicologia
  </label>
</div><br>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2"
         style="margin-left:20%">
  <label class="form-check-label" for="flexCheckChecked2" style="margin-left:1%">
    Trabajo Social
  </label>
</div><br>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault94" style="margin-left:20%">
  <label class="form-check-label" for="flexCheckDefault94" style="margin-left:1%">
    Juridico
  </label>
</div><br>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" style="margin-left:20%">
  <label class="form-check-label" for="flexCheckDefault3" style="margin-left:1%">
    Promotor comunitario
  </label>
</div><br>
<div class="container-fluid">
  <span class=" input-group-text " style="margin-top: 2%;margin-left: 25%;width: 50% ;justify-content: center;font-weight:bolder" >Instituciones con quienes se coordino el caso</span>
</div><br>
<form>
  <div class="form-group">
    <textarea class="form-control"  rows="3" style="width:60%;margin-left: 20%;height:150px" placeholder="DESCRIBA"></textarea>
  </div>
</form><br><br>

<div class="container-fluid">
  <span class=" input-group-text "   style="margin-top: 2%;margin-left: 25%;width: 50% ;justify-content: center;font-weight:bolder" >Conclusiones</span>
</div><br>
<form>
  <div class="form-group">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="width:60%;margin-left: 20%;height:150px" placeholder="DESCRIBA"></textarea>
  </div>
</form><br><br>
<div class="container-fluid">
  <span class=" input-group-text "  id="inputGroup-sizing-default" style="margin-top: 2%;margin-left: 25%;width: 50% ;justify-content: center;font-weight:bolder" >Fecha de cierre</span>
</div><br><br>
<div class="mb-3 row" >
  <div class="col-sm-10">
    <input type="date" class="form-control" id="staticEmail" style="margin-left: 40%;width:30%">  </div>

</div><br>



<div class="row">
  <div class="col">
    <input type="text" class="form-control" style="width:60%;margin-left: 25%;height:90px"  readonly > <br>

    <label style="font-weight:bolder; margin-left: 25%" >NOMBRE, FIRMA Y SELLO DE QUIEN REMITE <button type="button" class="btn btn-outline-secondary"  data-bs-toggle="modal" data-bs-target="#Modal">BUSCAR </button></label>
  </div>
  <div class="col">
    <input type="text" class="form-control" style="width:60%;margin-left: 10%;height:90px"  readonly>
    <label style="font-weight:bolder; margin-left: 10%">NOMBRE, FIRMA Y SELLO DE QUIEN RECIBE</label>
  </div>
</div> <br>



<div>
  <button type="button" class="btn btn-warning" style="margin-top: 2%;margin-left: 45%">DESCARGAR </button>

</div>
<div>
  <button type="button" class="btn btn-warning" style="margin-top: -5%;margin-left: 60%">REGISTAR </button>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="exampleModalLabel" style="margin-left: 25%">BUSCAR BENEFICIARIO</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="col">
          <label style="font-weight:bolder; margin-left: 1%">Cl/PASAPORTE</label>
          <input type="text" class="form-control" style="width:60%;margin-left: 1%"  placeholder="Ingrese un Cl o pasaporte" >
        </div>


        <div class="col" >
          <label style="font-weight:bolder; margin-left: 2%">NOMBRES</label>
          <input type="text" class="form-control" style="width:60%;margin-left: 1%"  placeholder="Ingrese un nombre">
        </div>
      </div>
      <div>
        <button type="button" class="btn btn-warning" style="margin-top:-30%;margin-left:75%" >BUSCAR </button> </div>

      <div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">N° Identificacion</th>
            <th scope="col">Nombre Representante</th>
            <th scope="col">Acciones</th>

          </tr>
          </thead>
          <tbody>
          <tr>

            <td>00000000000</td>
            <td>Otto</td>
            <td><button  class="btn btn-success"> Agregar</button></td>
          </tr>
          <tr>

            <td>00000000000</td>
            <td>Thornton</td>
            <td><button  class="btn btn-success"> Agregar</button></td>

          </tr>

          </tbody>

        </table>
      </div>

      <div class="modal-footer">
        <button type="button"  class="btn btn-danger"
                data-bs-dismiss="modal">ok</button>

      </div>
    </div>
  </div>
</div>

<!-- Modal Responsable --------------------------------------------------------------------------------------->
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="ModalLabel" style="margin-left: 25%">BUSCAR RESPONSABLE</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="col" >
          <label style="font-weight:bolder; margin-left: 2%">NOMBRES</label>
          <input type="text" class="form-control" style="width:60%;margin-left: 1%"  placeholder="Ingrese un nombre">
        </div>
      </div>
      <div>
        <button type="button" class="btn btn-warning" style="margin-top:-17%;margin-left:75%" >BUSCAR </button> </div>

      <div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">NOMBRES</th>
            <th scope="col"> TITULO</th>
            <th scope="col">CARGO</th>

          </tr>
          </thead>
          <tbody>
          <tr>

            <td>ALEXANDER</td>
            <td>PSICOLOGIA</td>
            <td>PSICOLOGO</td>
            <td><button  class="btn btn-success">Agregar</button></td>

          </tr>

          </tbody>

        </table>
      </div>

      <div class="modal-footer">
        <button type="button"  class="btn btn-danger"
                data-bs-dismiss="modal">ok</button>

      </div>
    </div>
  </div>
</div>
